* {
  font-size: medium;
}
body {
  background-color: hsl(206, 9%, 15%);
}
header {
  font-size: 2.5rem;
  color: white;
  text-align: center;
}
.rounded-divide {
  margin-top: 2px solid white;
}
.chore {
  display: flex;
  color: white;
  margin: 0 0.5rem;
  padding: 0.3rem;
  background-color: hsl(206, 9%, 19%);
  justify-content: space-between;
}
.chore-desc {
  font-size: 1.8rem;
}
.fa-check {
  color: white;
}
